doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        img(src="/static/logo.png", alt="")
        h4 Manish
        h3 Studio
        ul
         li #[a(href = "/") Home]
         li #[a(href = "/") About]
         li #[a(href = "/") Classes]
         li #[a(href = "/") Schedule]
         li #[a(href = "/") Blog]
         li #[a(href = "/contact") Contact]

    section#welecome
        h2 DANCE FOR EVERYONE

    section#signup
        h4 Sign up here and get 50% off for first 50 students....    
        button#btn SIGN UP

    section#forms
        div DANCE FORM
        div.small SALSA
        p  The salsa rhythm is widely recognized for being catchy, sensual, and easy to learn, yet very difficult to master. There are several academies throughout the world dedicated to teaching this dance at different levels of difficulty. There are even worldwide competitions dedicated to salsa, such as the World Salsa Championship and the World Salsa Open.

    section#forms2
        div DANCE FORM
        div.small HIP HOP
        p  Hip hop has made a considerable social impact since its inception in the 1970s. "Hip hop has also become relevant to the field of education because of its implications for understanding language, learning, identity, and curriculum.

    secion#forms3
        div DANCE FORM
        div.small KATHAK
        p Kathak is one of the main genres of ancient Indian classical dance and is traditionally regarded to have originated from the travelling bards of North India referred as Kathakars or storytellers. These Kathakars wandered around and communicated legendary stories via music, dance and songs quite like the early Greek theatre.

    footer#footer
        div Copyright &copy 2020 ManishStudio.com | All rights reserved    


      
    
    script
      include ../static/index.js