@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Playfair+Display&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: center/cover no-repeat url("/static/background.jpg");
    opacity: 0.95;
    font-family: 'Playfair Display', serif;
    

   
}
#navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: -99px;
    padding: 119px;
    margin-left: 23px;
    
}

#navbar li a{
    text-decoration: none;
    margin: 2px 16px;
    padding: 2px 9px;
    color: white;
    font-size: 0.8rem;
}
#navbar li a:hover{
    color: lightgrey;
}

#navbar img{
    height: 37px;
    width: 42px;
    display: block;
    filter: invert(100%);
    margin-top: 10px;
        
}
h4{
    color: white;
    margin-top: 17px;
    /* margin-right: 22px; */
    margin-left: -74px;
    margin-bottom: 31px;
    font-size: 10px;
    font-family: 'Playfair Display', serif;
    
}

h3{
    color: white;
    margin-top: 25px;
    /* margin-right: -15px; */
    margin-left: 45px;
    font-size: 10px;
    font-family: 'Playfair Display', serif;
    
}

section h2{
    background-color: #888687;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 143px;
    align-items: center;
    font-size: 37px;
    font-family: 'Playfair Display', serif;
}
 
#signup{
    background-color: #f1899b;
    margin: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 99px; */
    height: 146px;
}
#btn{
    margin-top: 61px;
    margin-left: -362px;
    padding: 7px;
    margin-right: 276px;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
}
#signup h4{
    margin: 0px;
    margin-top: -36px;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
}
#btn:hover{
    background-color: lightgrey;
}

#forms{
    color: white;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 245px;
    background: center/cover no-repeat url("/static/back3.jpg");
    opacity: 0.8;
}

#forms div{
    margin: 23px; 
    margin-top: -26px;
    /* margin: 0px; */
    margin-bottom: 176px;
    position: absolute;
    right: 60px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

#forms div.small{
    margin-bottom: 123px;
    position: absolute;
    right: 198px;
    font-size: 18px;   
    font-family: 'Playfair Display', serif;

}

#forms p{
    margin: 1px 123px;
    padding: 10px -52px;
    /* position: absolute; */
    right: 423px;
    
    display: block;
    
    margin-top: 124px;
    position: absolute;
    right: -117px;
    margin-top: 21px;
    margin-right: 156px;
    font-family: 'Playfair Display', serif;
}

#forms2{
    color: white;
    background-color: green;
    height: 245px;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    background: center/cover no-repeat url("/static/hiphop.jpg");
    opacity: 0.88;
    
}

#forms2 div{
    margin: 2px 30px;
    padding: 10px 1px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

#forms2 div.small{
    margin: -106px 30px;
    padding: 92px 2px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;

}
#forms2 p{
    margin: 61px 123px;
    padding: 2px 2px;
    font-family: 'Playfair Display', serif;

 }

#forms3{
    color: white;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 245px;
    font-family: 'Playfair Display', serif;
    background: center/cover no-repeat url("/static/kathak.jpg");
    opacity: 0.95;
    
}

#forms3 div{
    margin: 23px; 
    margin-top: -26px;
    /* margin: 0px; */
    margin-bottom: 176px;
    position: absolute;
    right: 60px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;

}

#forms3 div.small{
    margin-bottom: 123px;
    position: absolute;
    right: 179px;
    font-size: 18px;   
    font-family: 'Playfair Display', serif;

}

#forms3 p{
    margin: 1px 123px;
    padding: 10px -52px;
    /* position: absolute; */
    right: 423px;
    
    display: block;
    
    margin-top: 124px;
    position: absolute;
    right: -117px;
    margin-top: 21px;
    margin-right: 156px;
    font-family: 'Playfair Display', serif;

}

#footer{
    background-color: #423d3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    font-family: 'Playfair Display', serif;
    font-size: 11px;
}


    